In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('AggFunc').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/14 03:14:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.read.csv('Used_Car_Price_Data.csv',header = True)

In [5]:
df.show()

+--------------------+--------+------+------+------------+-----------+
|                Name|Price($)|Milage|Review|Review_count|      Badge|
+--------------------+--------+------+------+------------+-----------+
|2021 Toyota Camry SE|  31,150|13,390|   4.5|         659| Good Deal |
|2021 Toyota Supra...|  58,981| 7,348|   4.8|       2,744| Great Deal|
|2019 Toyota Sequo...|  51,999|55,121|   4.5|       2,092| Great Deal|
|2019 Toyota Camry SE|  25,689|49,126|     1|           1| Good Deal |
|2017 Toyota Highl...|  31,591|84,621|   4.9|       1,745|  Good Deal|
|2021 Toyota Supra...|  55,800|25,990|   4.6|         642| Good Deal |
|2013 Toyota Land ...|  61,000|13,430|   4.3|         866|  Fair Deal|
|2019 Toyota Camry SE|  25,493|49,550|   4.1|         637|  Fair Deal|
|2019 Toyota Camry SE|  29,791|16,794|   4.8|       3,210|  Fair Deal|
|2017 Toyota Corol...|  13,899|49,752|   3.3|          42|Great Deal |
|2017 Toyota Highl...|  33,958|53,767|   4.9|       1,745|  Good Deal|
|2019 Toyota Sequo...|  57,999|54,668|   4.5|       2,092|  Good Deal|
|2019 Toyota Camry SE|  27,292|27,100|   4.4|         884|  Fair Deal|
| 2020 Toyota RAV4 LE|  28,989|49,234|   4.6|         147|  Good Deal|
|2019 Toyota Highl...|  41,588|18,137|   3.5|          96|  Fair Deal|
|2016 Toyota 4Runn...|  32,797|80,825|   4.8|         785| Good Deal |
|2019 Toyota Camry LE|  23,169|47,205|   4.9|          48|  Good Deal|
|2021 Toyota Supra...|  62,998| 3,758|   4.5|         961| Great Deal|
|2015 Toyota Highl...|  23,444|64,062|   4.8|         135| Good Deal |
|2019 Toyota Corol...|  17,980|47,337|   4.5|       2,065|Great Deal |
+--------------------+--------+------+------+------------+-----------+
only showing top 20 rows

In [6]:
df.count()

1000

In [7]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Price($): string (nullable = true)
 |-- Milage: string (nullable = true)
 |-- Review: string (nullable = true)
 |-- Review_count: string (nullable = true)
 |-- Badge: string (nullable = true)

In [8]:
df.describe().show()

+-------+--------------------+--------+------------------+-----------------+------------------+--------------+
|summary|                Name|Price($)|            Milage|           Review|      Review_count|         Badge|
+-------+--------------------+--------+------------------+-----------------+------------------+--------------+
|  count|                1000|    1000|              1000|             1000|              1000|          1000|
|   mean|                null|    null|             703.0|4.448846539618859|325.83230769230767|          null|
| stddev|                null|    null|151.32085117392117|0.591702306908266|290.90424541826576|          null|
|    min|1998 Toyota Camry...|1,01,500|             1,000|                1|                 0|CPO Warrantied|
|    max|2021 Toyota Venza...|  96,626|            99,525|             null|               994|          null|
+-------+--------------------+--------+------------------+-----------------+------------------+--------------+

In [9]:
from pyspark.sql.types import IntegerType
from pyspark.sql.types import FloatType

In [10]:
import pyspark.sql.functions as f

In [11]:
df = df.withColumn("Price",f.translate(f.col("Price($)"),",",""))

In [12]:
df = df.drop('Price($)')

In [13]:
df.show()

+--------------------+------+------+------------+-----------+-----+
|                Name|Milage|Review|Review_count|      Badge|Price|
+--------------------+------+------+------------+-----------+-----+
|2021 Toyota Camry SE|13,390|   4.5|         659| Good Deal |31150|
|2021 Toyota Supra...| 7,348|   4.8|       2,744| Great Deal|58981|
|2019 Toyota Sequo...|55,121|   4.5|       2,092| Great Deal|51999|
|2019 Toyota Camry SE|49,126|     1|           1| Good Deal |25689|
|2017 Toyota Highl...|84,621|   4.9|       1,745|  Good Deal|31591|
|2021 Toyota Supra...|25,990|   4.6|         642| Good Deal |55800|
|2013 Toyota Land ...|13,430|   4.3|         866|  Fair Deal|61000|
|2019 Toyota Camry SE|49,550|   4.1|         637|  Fair Deal|25493|
|2019 Toyota Camry SE|16,794|   4.8|       3,210|  Fair Deal|29791|
|2017 Toyota Corol...|49,752|   3.3|          42|Great Deal |13899|
|2017 Toyota Highl...|53,767|   4.9|       1,745|  Good Deal|33958|
|2019 Toyota Sequo...|54,668|   4.5|       2,092|  Good Deal|57999|
|2019 Toyota Camry SE|27,100|   4.4|         884|  Fair Deal|27292|
| 2020 Toyota RAV4 LE|49,234|   4.6|         147|  Good Deal|28989|
|2019 Toyota Highl...|18,137|   3.5|          96|  Fair Deal|41588|
|2016 Toyota 4Runn...|80,825|   4.8|         785| Good Deal |32797|
|2019 Toyota Camry LE|47,205|   4.9|          48|  Good Deal|23169|
|2021 Toyota Supra...| 3,758|   4.5|         961| Great Deal|62998|
|2015 Toyota Highl...|64,062|   4.8|         135| Good Deal |23444|
|2019 Toyota Corol...|47,337|   4.5|       2,065|Great Deal |17980|
+--------------------+------+------+------------+-----------+-----+
only showing top 20 rows

In [14]:
df = df.withColumn("Milage_New",f.translate(f.col("Milage"),",",""))
df = df.withColumn("ReviewCount",f.translate(f.col("Review_count"),",",""))

In [15]:
df = df.drop('Milage').drop('Review_count')

In [16]:
df.show()

+--------------------+------+-----------+-----+----------+-----------+
|                Name|Review|      Badge|Price|Milage_New|ReviewCount|
+--------------------+------+-----------+-----+----------+-----------+
|2021 Toyota Camry SE|   4.5| Good Deal |31150|     13390|        659|
|2021 Toyota Supra...|   4.8| Great Deal|58981|      7348|       2744|
|2019 Toyota Sequo...|   4.5| Great Deal|51999|     55121|       2092|
|2019 Toyota Camry SE|     1| Good Deal |25689|     49126|          1|
|2017 Toyota Highl...|   4.9|  Good Deal|31591|     84621|       1745|
|2021 Toyota Supra...|   4.6| Good Deal |55800|     25990|        642|
|2013 Toyota Land ...|   4.3|  Fair Deal|61000|     13430|        866|
|2019 Toyota Camry SE|   4.1|  Fair Deal|25493|     49550|        637|
|2019 Toyota Camry SE|   4.8|  Fair Deal|29791|     16794|       3210|
|2017 Toyota Corol...|   3.3|Great Deal |13899|     49752|         42|
|2017 Toyota Highl...|   4.9|  Good Deal|33958|     53767|       1745|
|2019 Toyota Sequo...|   4.5|  Good Deal|57999|     54668|       2092|
|2019 Toyota Camry SE|   4.4|  Fair Deal|27292|     27100|        884|
| 2020 Toyota RAV4 LE|   4.6|  Good Deal|28989|     49234|        147|
|2019 Toyota Highl...|   3.5|  Fair Deal|41588|     18137|         96|
|2016 Toyota 4Runn...|   4.8| Good Deal |32797|     80825|        785|
|2019 Toyota Camry LE|   4.9|  Good Deal|23169|     47205|         48|
|2021 Toyota Supra...|   4.5| Great Deal|62998|      3758|        961|
|2015 Toyota Highl...|   4.8| Good Deal |23444|     64062|        135|
|2019 Toyota Corol...|   4.5|Great Deal |17980|     47337|       2065|
+--------------------+------+-----------+-----+----------+-----------+
only showing top 20 rows

In [18]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Review: string (nullable = true)
 |-- Badge: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Milage_New: string (nullable = true)
 |-- ReviewCount: string (nullable = true)

In [19]:
df = df.withColumn('Price1',df['Price'].cast(IntegerType()))
df = df.withColumn('Milage_New1',df['Milage_New'].cast(IntegerType()))
df = df.withColumn('ReviewCount1',df['ReviewCount'].cast(IntegerType()))
df = df.withColumn('Review1',df['Review'].cast(FloatType()))

In [20]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Review: string (nullable = true)
 |-- Badge: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Milage_New: string (nullable = true)
 |-- ReviewCount: string (nullable = true)
 |-- Price1: integer (nullable = true)
 |-- Milage_New1: integer (nullable = true)
 |-- ReviewCount1: integer (nullable = true)
 |-- Review1: float (nullable = true)

In [21]:
df = df.drop('Price')
df = df.drop('Milage_New')
df = df.drop('ReviewCount')
df = df.drop('Review')

In [22]:
df.show()

+--------------------+-----------+------+-----------+------------+-------+
|                Name|      Badge|Price1|Milage_New1|ReviewCount1|Review1|
+--------------------+-----------+------+-----------+------------+-------+
|2021 Toyota Camry SE| Good Deal | 31150|      13390|         659|    4.5|
|2021 Toyota Supra...| Great Deal| 58981|       7348|        2744|    4.8|
|2019 Toyota Sequo...| Great Deal| 51999|      55121|        2092|    4.5|
|2019 Toyota Camry SE| Good Deal | 25689|      49126|           1|    1.0|
|2017 Toyota Highl...|  Good Deal| 31591|      84621|        1745|    4.9|
|2021 Toyota Supra...| Good Deal | 55800|      25990|         642|    4.6|
|2013 Toyota Land ...|  Fair Deal| 61000|      13430|         866|    4.3|
|2019 Toyota Camry SE|  Fair Deal| 25493|      49550|         637|    4.1|
|2019 Toyota Camry SE|  Fair Deal| 29791|      16794|        3210|    4.8|
|2017 Toyota Corol...|Great Deal | 13899|      49752|          42|    3.3|
|2017 Toyota Highl...|  Good Deal| 33958|      53767|        1745|    4.9|
|2019 Toyota Sequo...|  Good Deal| 57999|      54668|        2092|    4.5|
|2019 Toyota Camry SE|  Fair Deal| 27292|      27100|         884|    4.4|
| 2020 Toyota RAV4 LE|  Good Deal| 28989|      49234|         147|    4.6|
|2019 Toyota Highl...|  Fair Deal| 41588|      18137|          96|    3.5|
|2016 Toyota 4Runn...| Good Deal | 32797|      80825|         785|    4.8|
|2019 Toyota Camry LE|  Good Deal| 23169|      47205|          48|    4.9|
|2021 Toyota Supra...| Great Deal| 62998|       3758|         961|    4.5|
|2015 Toyota Highl...| Good Deal | 23444|      64062|         135|    4.8|
|2019 Toyota Corol...|Great Deal | 17980|      47337|        2065|    4.5|
+--------------------+-----------+------+-----------+------------+-------+
only showing top 20 rows

In [37]:
#Nhung xe co Milage cao nhat theo tung Badge
df.groupBy('Badge').max("Milage_New1").show()

+--------------+----------------+
|         Badge|max(Milage_New1)|
+--------------+----------------+
| Home Delivery|          293420|
|CPO Warrantied|           66623|
|   Great Deal |          242684|
|     Good Deal|          266178|
|    Great Deal|          258855|
|       Hot Car|          191504|
|     Fair Deal|          232537|
|    Good Deal |          160778|
|          null|          273500|
+--------------+----------------+

In [27]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Badge: string (nullable = true)
 |-- Price1: integer (nullable = true)
 |-- Milage_New1: integer (nullable = true)
 |-- ReviewCount1: integer (nullable = true)
 |-- Review1: float (nullable = true)

In [43]:
from pyspark.sql.functions import *

In [46]:
df.groupBy("Badge").agg(max("Milage_New1").alias("MilageMax")).show()

+--------------+---------+
|         Badge|MilageMax|
+--------------+---------+
| Home Delivery|   293420|
|CPO Warrantied|    66623|
|   Great Deal |   242684|
|     Good Deal|   266178|
|    Great Deal|   258855|
|       Hot Car|   191504|
|     Fair Deal|   232537|
|    Good Deal |   160778|
|          null|   273500|
+--------------+---------+

In [64]:
df.join(df.groupBy("Badge").agg(max("Milage_New1").alias("Milage_New1")),on='Milage_New1',how='leftsemi').select('Badge','Name','Milage_New1').show()

+--------------+--------------------+-----------+
|         Badge|                Name|Milage_New1|
+--------------+--------------------+-----------+
|          null|2002 Toyota Tacom...|     273500|
|    Good Deal |2012 Toyota 4Runn...|     160778|
| Home Delivery|2002 Toyota Land ...|     293420|
|     Fair Deal|2006 Toyota 4Runn...|     232537|
|     Good Deal|2008 Toyota Land ...|     266178|
|   Great Deal |2004 Toyota Highl...|     242684|
|    Great Deal|2008 Toyota Sequo...|     258855|
|       Hot Car|2017 Toyota Camry SE|     191504|
|CPO Warrantied| 2018 Toyota RAV4 LE|      66623|
+--------------+--------------------+-----------+

In [61]:
#Cach khac
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
windowDept = Window.partitionBy("Badge").orderBy(col("Milage_New1").desc())

In [ ]:
df.withColumn("row",row_number().over(windowDept)) \
  .filter(col("row") == 1).drop("row") \
  .show()

In [65]:
df.show()

+--------------------+-----------+------+-----------+------------+-------+
|                Name|      Badge|Price1|Milage_New1|ReviewCount1|Review1|
+--------------------+-----------+------+-----------+------------+-------+
|2021 Toyota Camry SE| Good Deal | 31150|      13390|         659|    4.5|
|2021 Toyota Supra...| Great Deal| 58981|       7348|        2744|    4.8|
|2019 Toyota Sequo...| Great Deal| 51999|      55121|        2092|    4.5|
|2019 Toyota Camry SE| Good Deal | 25689|      49126|           1|    1.0|
|2017 Toyota Highl...|  Good Deal| 31591|      84621|        1745|    4.9|
|2021 Toyota Supra...| Good Deal | 55800|      25990|         642|    4.6|
|2013 Toyota Land ...|  Fair Deal| 61000|      13430|         866|    4.3|
|2019 Toyota Camry SE|  Fair Deal| 25493|      49550|         637|    4.1|
|2019 Toyota Camry SE|  Fair Deal| 29791|      16794|        3210|    4.8|
|2017 Toyota Corol...|Great Deal | 13899|      49752|          42|    3.3|
|2017 Toyota Highl...|  Good Deal| 33958|      53767|        1745|    4.9|
|2019 Toyota Sequo...|  Good Deal| 57999|      54668|        2092|    4.5|
|2019 Toyota Camry SE|  Fair Deal| 27292|      27100|         884|    4.4|
| 2020 Toyota RAV4 LE|  Good Deal| 28989|      49234|         147|    4.6|
|2019 Toyota Highl...|  Fair Deal| 41588|      18137|          96|    3.5|
|2016 Toyota 4Runn...| Good Deal | 32797|      80825|         785|    4.8|
|2019 Toyota Camry LE|  Good Deal| 23169|      47205|          48|    4.9|
|2021 Toyota Supra...| Great Deal| 62998|       3758|         961|    4.5|
|2015 Toyota Highl...| Good Deal | 23444|      64062|         135|    4.8|
|2019 Toyota Corol...|Great Deal | 17980|      47337|        2065|    4.5|
+--------------------+-----------+------+-----------+------------+-------+
only showing top 20 rows

In [91]:
df.orderBy('Review1',ascending = False).limit(10).show()

+--------------------+-------------+------+-----------+------------+-------+
|                Name|        Badge|Price1|Milage_New1|ReviewCount1|Review1|
+--------------------+-------------+------+-----------+------------+-------+
| 2018 Toyota RAV4 LE|  Great Deal | 24308|      32770|           1|    5.0|
|2013 Toyota Corol...|    Good Deal| 13990|      17333|          57|    5.0|
|2019 Toyota Highl...|    Good Deal| 39997|      28717|           1|    5.0|
|2014 Toyota Land ...|Home Delivery| 48950|      91651|          12|    5.0|
|2020 Toyota Tundr...|    Good Deal| 53957|      18149|           9|    5.0|
|2018 Toyota Tacom...|  Great Deal | 29990|      16199|           1|    5.0|
|2009 Toyota Camry...|      Hot Car|  8988|     151122|         368|    5.0|
|2018 Toyota Camry SE|    Fair Deal| 27399|      34746|           1|    5.0|
|2016 Toyota 4Runn...|    Good Deal| 32999|      70971|           1|    5.0|
|2019 Toyota Corol...|    Good Deal| 18998|      58601|           1|    5.0|
+--------------------+-------------+------+-----------+------------+-------+